.fi,
.fib {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.fi {
  display: inline-block;
  line-height: 1em;
  position: relative;
  width: 1.333333em;
}
.fi:before {
  content: " ";
}
.fi.fis {
  width: 1em;
}
.fi-xx {
  background-image: url(/src/assets/xx-5f776f5b.svg);
}
.fi-xx.fis {
  background-image: url(/src/assets/xx-84717c7a.svg);
}
.fi-ad {
  background-image: url(/src/assets/ad-01e40953.svg);
}
.fi-ad.fis {
  background-image: url(/src/assets/ad-4b037d69.svg);
}
.fi-ae {
  background-image: url(/src/assets/ae-e646ea13.svg);
}
.fi-ae.fis {
  background-image: url(/src/assets/ae-534fefed.svg);
}
.fi-af {
  background-image: url(/src/assets/af-dcf380eb.svg);
}
.fi-af.fis {
  background-image: url(/src/assets/af-2b0f0512.svg);
}
.fi-ag {
  background-image: url(/src/assets/ag-d8b2d313.svg);
}
.fi-ag.fis {
  background-image: url(/src/assets/ag-0426382d.svg);
}
.fi-ai {
  background-image: url(/src/assets/ai-9404c772.svg);
}
.fi-ai.fis {
  background-image: url(/src/assets/ai-259c2c73.svg);
}
.fi-al {
  background-image: url(/src/assets/al-d5d048db.svg);
}
.fi-al.fis {
  background-image: url(/src/assets/al-21e1b6b5.svg);
}
.fi-am {
  background-image: url(/src/assets/am-efb6cdaa.svg);
}
.fi-am.fis {
  background-image: url(/src/assets/am-57edcffa.svg);
}
.fi-ao {
  background-image: url(/src/assets/ao-3c52ff53.svg);
}
.fi-ao.fis {
  background-image: url(/src/assets/ao-a296c39c.svg);
}
.fi-aq {
  background-image: url(/src/assets/aq-454424bf.svg);
}
.fi-aq.fis {
  background-image: url(/src/assets/aq-733794b7.svg);
}
.fi-ar {
  background-image: url(/src/assets/ar-2f7aada4.svg);
}
.fi-ar.fis {
  background-image: url(/src/assets/ar-1768d119.svg);
}
.fi-as {
  background-image: url(/src/assets/as-43a6bbb4.svg);
}
.fi-as.fis {
  background-image: url(/src/assets/as-c4c6fecf.svg);
}
.fi-at {
  background-image: url(/src/assets/at-2754ed2f.svg);
}
.fi-at.fis {
  background-image: url(/src/assets/at-9152f136.svg);
}
.fi-au {
  background-image: url(/src/assets/au-6cf0b0da.svg);
}
.fi-au.fis {
  background-image: url(/src/assets/au-01aa7963.svg);
}
.fi-aw {
  background-image: url(/src/assets/aw-c790e041.svg);
}
.fi-aw.fis {
  background-image: url(/src/assets/aw-e778dd16.svg);
}
.fi-ax {
  background-image: url(/src/assets/ax-1f2bddd3.svg);
}
.fi-ax.fis {
  background-image: url(/src/assets/ax-4702b3f0.svg);
}
.fi-az {
  background-image: url(/src/assets/az-b942e12d.svg);
}
.fi-az.fis {
  background-image: url(/src/assets/az-fef5c465.svg);
}
.fi-ba {
  background-image: url(/src/assets/ba-a87565c0.svg);
}
.fi-ba.fis {
  background-image: url(/src/assets/ba-6f3a3ab7.svg);
}
.fi-bb {
  background-image: url(/src/assets/bb-3054f0b2.svg);
}
.fi-bb.fis {
  background-image: url(/src/assets/bb-c7b3b259.svg);
}
.fi-bd {
  background-image: url(/src/assets/bd-1aabb4a7.svg);
}
.fi-bd.fis {
  background-image: url(/src/assets/bd-90f8f20e.svg);
}
.fi-be {
  background-image: url(/src/assets/be-42f09ed6.svg);
}
.fi-be.fis {
  background-image: url(/src/assets/be-a2f62b54.svg);
}
.fi-bf {
  background-image: url(/src/assets/bf-606b17ad.svg);
}
.fi-bf.fis {
  background-image: url(/src/assets/bf-62cdc2bd.svg);
}
.fi-bg {
  background-image: url(/src/assets/bg-a2282477.svg);
}
.fi-bg.fis {
  background-image: url(/src/assets/bg-40e29b66.svg);
}
.fi-bh {
  background-image: url(/src/assets/bh-7a519f58.svg);
}
.fi-bh.fis {
  background-image: url(/src/assets/bh-102fe27e.svg);
}
.fi-bi {
  background-image: url(/src/assets/bi-5ef1a56b.svg);
}
.fi-bi.fis {
  background-image: url(/src/assets/bi-976cd178.svg);
}
.fi-bj {
  background-image: url(/src/assets/bj-0a46cbae.svg);
}
.fi-bj.fis {
  background-image: url(/src/assets/bj-2cbd6426.svg);
}
.fi-bl {
  background-image: url(/src/assets/bl-d511eb84.svg);
}
.fi-bl.fis {
  background-image: url(/src/assets/bl-025f596f.svg);
}
.fi-bm {
  background-image: url(/src/assets/bm-a15913d4.svg);
}
.fi-bm.fis {
  background-image: url(/src/assets/bm-fc42642b.svg);
}
.fi-bn {
  background-image: url(/src/assets/bn-6a573bd7.svg);
}
.fi-bn.fis {
  background-image: url(/src/assets/bn-a381967f.svg);
}
.fi-bo {
  background-image: url(/src/assets/bo-24e9a0dd.svg);
}
.fi-bo.fis {
  background-image: url(/src/assets/bo-651ff433.svg);
}
.fi-bq {
  background-image: url(/src/assets/bq-23881e6c.svg);
}
.fi-bq.fis {
  background-image: url(/src/assets/bq-83723941.svg);
}
.fi-br {
  background-image: url(/src/assets/br-fc872e71.svg);
}
.fi-br.fis {
  background-image: url(/src/assets/br-ce7e334e.svg);
}
.fi-bs {
  background-image: url(/src/assets/bs-e3a1ee51.svg);
}
.fi-bs.fis {
  background-image: url(/src/assets/bs-21cdbdc6.svg);
}
.fi-bt {
  background-image: url(/src/assets/bt-dc7fe8fa.svg);
}
.fi-bt.fis {
  background-image: url(/src/assets/bt-84e84171.svg);
}
.fi-bv {
  background-image: url(/src/assets/bv-d972d58c.svg);
}
.fi-bv.fis {
  background-image: url(/src/assets/bv-342b164c.svg);
}
.fi-bw {
  background-image: url(/src/assets/bw-1fc9322c.svg);
}
.fi-bw.fis {
  background-image: url(/src/assets/bw-e1e15926.svg);
}
.fi-by {
  background-image: url(/src/assets/by-c8f5fce1.svg);
}
.fi-by.fis {
  background-image: url(/src/assets/by-6352ceb3.svg);
}
.fi-bz {
  background-image: url(/src/assets/bz-33179ee8.svg);
}
.fi-bz.fis {
  background-image: url(/src/assets/bz-93bdf8bf.svg);
}
.fi-ca {
  background-image: url(/src/assets/ca-73bd9657.svg);
}
.fi-ca.fis {
  background-image: url(/src/assets/ca-5e8736c4.svg);
}
.fi-cc {
  background-image: url(/src/assets/cc-9c6cd055.svg);
}
.fi-cc.fis {
  background-image: url(/src/assets/cc-6ab691df.svg);
}
.fi-cd {
  background-image: url(/src/assets/cd-23f049df.svg);
}
.fi-cd.fis {
  background-image: url(/src/assets/cd-c3f432db.svg);
}
.fi-cf {
  background-image: url(/src/assets/cf-1b58dc20.svg);
}
.fi-cf.fis {
  background-image: url(/src/assets/cf-2e16b1cf.svg);
}
.fi-cg {
  background-image: url(/src/assets/cg-c606004c.svg);
}
.fi-cg.fis {
  background-image: url(/src/assets/cg-d2d60d9f.svg);
}
.fi-ch {
  background-image: url(/src/assets/ch-ac676cd3.svg);
}
.fi-ch.fis {
  background-image: url(/src/assets/ch-be4b8257.svg);
}
.fi-ci {
  background-image: url(/src/assets/ci-4ecfea70.svg);
}
.fi-ci.fis {
  background-image: url(/src/assets/ci-c3f20b8e.svg);
}
.fi-ck {
  background-image: url(/src/assets/ck-b17c039f.svg);
}
.fi-ck.fis {
  background-image: url(/src/assets/ck-e5457495.svg);
}
.fi-cl {
  background-image: url(/src/assets/cl-24dfd9cf.svg);
}
.fi-cl.fis {
  background-image: url(/src/assets/cl-5ae2d8a4.svg);
}
.fi-cm {
  background-image: url(/src/assets/cm-c9a327dc.svg);
}
.fi-cm.fis {
  background-image: url(/src/assets/cm-0899a610.svg);
}
.fi-cn {
  background-image: url(/src/assets/cn-981da9bd.svg);
}
.fi-cn.fis {
  background-image: url(/src/assets/cn-b63401f4.svg);
}
.fi-co {
  background-image: url(/src/assets/co-6bab3c96.svg);
}
.fi-co.fis {
  background-image: url(/src/assets/co-596558a2.svg);
}
.fi-cr {
  background-image: url(/src/assets/cr-4775ef01.svg);
}
.fi-cr.fis {
  background-image: url(/src/assets/cr-b70b33c4.svg);
}
.fi-cu {
  background-image: url(/src/assets/cu-e76f7c38.svg);
}
.fi-cu.fis {
  background-image: url(/src/assets/cu-4b240cd3.svg);
}
.fi-cv {
  background-image: url(/src/assets/cv-2fa67e0a.svg);
}
.fi-cv.fis {
  background-image: url(/src/assets/cv-1f908f34.svg);
}
.fi-cw {
  background-image: url(/src/assets/cw-c845d0ca.svg);
}
.fi-cw.fis {
  background-image: url(/src/assets/cw-f4df53da.svg);
}
.fi-cx {
  background-image: url(/src/assets/cx-ade6b862.svg);
}
.fi-cx.fis {
  background-image: url(/src/assets/cx-cd561600.svg);
}
.fi-cy {
  background-image: url(/src/assets/cy-4ef9fb91.svg);
}
.fi-cy.fis {
  background-image: url(/src/assets/cy-72cd7167.svg);
}
.fi-cz {
  background-image: url(/src/assets/cz-d601fcc2.svg);
}
.fi-cz.fis {
  background-image: url(/src/assets/cz-5a462b5f.svg);
}
.fi-de {
  background-image: url(/src/assets/de-7318c9aa.svg);
}
.fi-de.fis {
  background-image: url(/src/assets/de-d5f40046.svg);
}
.fi-dj {
  background-image: url(/src/assets/dj-ed66c09f.svg);
}
.fi-dj.fis {
  background-image: url(/src/assets/dj-e788b24d.svg);
}
.fi-dk {
  background-image: url(/src/assets/dk-d2847c0b.svg);
}
.fi-dk.fis {
  background-image: url(/src/assets/dk-4d7c9c44.svg);
}
.fi-dm {
  background-image: url(/src/assets/dm-ff490fa3.svg);
}
.fi-dm.fis {
  background-image: url(/src/assets/dm-eab3ec31.svg);
}
.fi-do {
  background-image: url(/src/assets/do-9470b8ab.svg);
}
.fi-do.fis {
  background-image: url(/src/assets/do-b63f4eb9.svg);
}
.fi-dz {
  background-image: url(/src/assets/dz-9ea0cf93.svg);
}
.fi-dz.fis {
  background-image: url(/src/assets/dz-73f56cc7.svg);
}
.fi-ec {
  background-image: url(/src/assets/ec-73be1a4b.svg);
}
.fi-ec.fis {
  background-image: url(/src/assets/ec-c1196d0f.svg);
}
.fi-ee {
  background-image: url(/src/assets/ee-1c30ac2c.svg);
}
.fi-ee.fis {
  background-image: url(/src/assets/ee-733a082e.svg);
}
.fi-eg {
  background-image: url(/src/assets/eg-3383c598.svg);
}
.fi-eg.fis {
  background-image: url(/src/assets/eg-04d3ab3f.svg);
}
.fi-eh {
  background-image: url(/src/assets/eh-e9d3c61b.svg);
}
.fi-eh.fis {
  background-image: url(/src/assets/eh-cd622ccb.svg);
}
.fi-er {
  background-image: url(/src/assets/er-21cdc1d1.svg);
}
.fi-er.fis {
  background-image: url(/src/assets/er-3cd1a45c.svg);
}
.fi-es {
  background-image: url(/src/assets/es-6fe80291.svg);
}
.fi-es.fis {
  background-image: url(/src/assets/es-edd3ba17.svg);
}
.fi-et {
  background-image: url(/src/assets/et-c2525ca4.svg);
}
.fi-et.fis {
  background-image: url(/src/assets/et-68cee02b.svg);
}
.fi-fi {
  background-image: url(/src/assets/fi-012edd98.svg);
}
.fi-fi.fis {
  background-image: url(/src/assets/fi-f4064089.svg);
}
.fi-fj {
  background-image: url(/src/assets/fj-34660dda.svg);
}
.fi-fj.fis {
  background-image: url(/src/assets/fj-be546b9d.svg);
}
.fi-fk {
  background-image: url(/src/assets/fk-e27a1876.svg);
}
.fi-fk.fis {
  background-image: url(/src/assets/fk-2b55d0fe.svg);
}
.fi-fm {
  background-image: url(/src/assets/fm-23db3e9f.svg);
}
.fi-fm.fis {
  background-image: url(/src/assets/fm-3113102b.svg);
}
.fi-fo {
  background-image: url(/src/assets/fo-db222fca.svg);
}
.fi-fo.fis {
  background-image: url(/src/assets/fo-f3d95cc8.svg);
}
.fi-fr {
  background-image: url(/src/assets/fr-8cdacc8d.svg);
}
.fi-fr.fis {
  background-image: url(/src/assets/fr-5cdc5047.svg);
}
.fi-ga {
  background-image: url(/src/assets/ga-f7b775c4.svg);
}
.fi-ga.fis {
  background-image: url(/src/assets/ga-cb2951db.svg);
}
.fi-gb {
  background-image: url(/src/assets/gb-51a8613a.svg);
}
.fi-gb.fis {
  background-image: url(/src/assets/gb-4b739ae8.svg);
}
.fi-gd {
  background-image: url(/src/assets/gd-5b590f15.svg);
}
.fi-gd.fis {
  background-image: url(/src/assets/gd-a0f628ea.svg);
}
.fi-ge {
  background-image: url(/src/assets/ge-3821d90a.svg);
}
.fi-ge.fis {
  background-image: url(/src/assets/ge-c89af007.svg);
}
.fi-gf {
  background-image: url(/src/assets/gf-cb5464e2.svg);
}
.fi-gf.fis {
  background-image: url(/src/assets/gf-7643aaa7.svg);
}
.fi-gg {
  background-image: url(/src/assets/gg-ea806b48.svg);
}
.fi-gg.fis {
  background-image: url(/src/assets/gg-ca797ce5.svg);
}
.fi-gh {
  background-image: url(/src/assets/gh-86635202.svg);
}
.fi-gh.fis {
  background-image: url(/src/assets/gh-4afd4198.svg);
}
.fi-gi {
  background-image: url(/src/assets/gi-64b3c164.svg);
}
.fi-gi.fis {
  background-image: url(/src/assets/gi-a72043d1.svg);
}
.fi-gl {
  background-image: url(/src/assets/gl-15a60b07.svg);
}
.fi-gl.fis {
  background-image: url(/src/assets/gl-debe7773.svg);
}
.fi-gm {
  background-image: url(/src/assets/gm-2aa3fad4.svg);
}
.fi-gm.fis {
  background-image: url(/src/assets/gm-726e760b.svg);
}
.fi-gn {
  background-image: url(/src/assets/gn-ee01e7dd.svg);
}
.fi-gn.fis {
  background-image: url(/src/assets/gn-8d20e686.svg);
}
.fi-gp {
  background-image: url(/src/assets/gp-ee9d78d0.svg);
}
.fi-gp.fis {
  background-image: url(/src/assets/gp-5f0e3566.svg);
}
.fi-gq {
  background-image: url(/src/assets/gq-be2561d6.svg);
}
.fi-gq.fis {
  background-image: url(/src/assets/gq-a3bf98e3.svg);
}
.fi-gr {
  background-image: url(/src/assets/gr-a184070f.svg);
}
.fi-gr.fis {
  background-image: url(/src/assets/gr-a4519d98.svg);
}
.fi-gs {
  background-image: url(/src/assets/gs-5798c05b.svg);
}
.fi-gs.fis {
  background-image: url(/src/assets/gs-0801216a.svg);
}
.fi-gt {
  background-image: url(/src/assets/gt-047e034e.svg);
}
.fi-gt.fis {
  background-image: url(/src/assets/gt-387d7394.svg);
}
.fi-gu {
  background-image: url(/src/assets/gu-8d45b5e2.svg);
}
.fi-gu.fis {
  background-image: url(/src/assets/gu-0fc8abf7.svg);
}
.fi-gw {
  background-image: url(/src/assets/gw-651e35df.svg);
}
.fi-gw.fis {
  background-image: url(/src/assets/gw-7bb04bdb.svg);
}
.fi-gy {
  background-image: url(/src/assets/gy-81301929.svg);
}
.fi-gy.fis {
  background-image: url(/src/assets/gy-97253f86.svg);
}
.fi-hk {
  background-image: url(/src/assets/hk-b1d75699.svg);
}
.fi-hk.fis {
  background-image: url(/src/assets/hk-cb99edfd.svg);
}
.fi-hm {
  background-image: url(/src/assets/hm-962e9410.svg);
}
.fi-hm.fis {
  background-image: url(/src/assets/hm-3c45173f.svg);
}
.fi-hn {
  background-image: url(/src/assets/hn-67130fa0.svg);
}
.fi-hn.fis {
  background-image: url(/src/assets/hn-545c93c9.svg);
}
.fi-hr {
  background-image: url(/src/assets/hr-269fdafe.svg);
}
.fi-hr.fis {
  background-image: url(/src/assets/hr-11b51582.svg);
}
.fi-ht {
  background-image: url(/src/assets/ht-06453723.svg);
}
.fi-ht.fis {
  background-image: url(/src/assets/ht-f397e92e.svg);
}
.fi-hu {
  background-image: url(/src/assets/hu-ffc4edd5.svg);
}
.fi-hu.fis {
  background-image: url(/src/assets/hu-9e6bc6d7.svg);
}
.fi-id {
  background-image: url(/src/assets/id-5cd3acc4.svg);
}
.fi-id.fis {
  background-image: url(/src/assets/id-b8cd30f2.svg);
}
.fi-ie {
  background-image: url(/src/assets/ie-f82568d7.svg);
}
.fi-ie.fis {
  background-image: url(/src/assets/ie-860168f5.svg);
}
.fi-il {
  background-image: url(/src/assets/il-023f6d1b.svg);
}
.fi-il.fis {
  background-image: url(/src/assets/il-a1a6fff1.svg);
}
.fi-im {
  background-image: url(/src/assets/im-4297d37f.svg);
}
.fi-im.fis {
  background-image: url(/src/assets/im-4b7d3373.svg);
}
.fi-in {
  background-image: url(/src/assets/in-5578409e.svg);
}
.fi-in.fis {
  background-image: url(/src/assets/in-ca5f38b1.svg);
}
.fi-io {
  background-image: url(/src/assets/io-a7a4cf26.svg);
}
.fi-io.fis {
  background-image: url(/src/assets/io-1d9b0992.svg);
}
.fi-iq {
  background-image: url(/src/assets/iq-0e5d8753.svg);
}
.fi-iq.fis {
  background-image: url(/src/assets/iq-d23d774b.svg);
}
.fi-ir {
  background-image: url(/src/assets/ir-f55cb919.svg);
}
.fi-ir.fis {
  background-image: url(/src/assets/ir-a26d6b1f.svg);
}
.fi-is {
  background-image: url(/src/assets/is-ef74d1f1.svg);
}
.fi-is.fis {
  background-image: url(/src/assets/is-07f3da7e.svg);
}
.fi-it {
  background-image: url(/src/assets/it-9fa88118.svg);
}
.fi-it.fis {
  background-image: url(/src/assets/it-03086f2e.svg);
}
.fi-je {
  background-image: url(/src/assets/je-27d4c347.svg);
}
.fi-je.fis {
  background-image: url(/src/assets/je-c138f8b2.svg);
}
.fi-jm {
  background-image: url(/src/assets/jm-61441775.svg);
}
.fi-jm.fis {
  background-image: url(/src/assets/jm-a556453f.svg);
}
.fi-jo {
  background-image: url(/src/assets/jo-28827eb1.svg);
}
.fi-jo.fis {
  background-image: url(/src/assets/jo-6e2909a8.svg);
}
.fi-jp {
  background-image: url(/src/assets/jp-bfea80ba.svg);
}
.fi-jp.fis {
  background-image: url(/src/assets/jp-2bd3a486.svg);
}
.fi-ke {
  background-image: url(/src/assets/ke-dd6b6ae5.svg);
}
.fi-ke.fis {
  background-image: url(/src/assets/ke-7eb5e970.svg);
}
.fi-kg {
  background-image: url(/src/assets/kg-1a70b98a.svg);
}
.fi-kg.fis {
  background-image: url(/src/assets/kg-106674d7.svg);
}
.fi-kh {
  background-image: url(/src/assets/kh-706c89a1.svg);
}
.fi-kh.fis {
  background-image: url(/src/assets/kh-65671aad.svg);
}
.fi-ki {
  background-image: url(/src/assets/ki-f9f15e1f.svg);
}
.fi-ki.fis {
  background-image: url(/src/assets/ki-62b89f15.svg);
}
.fi-km {
  background-image: url(/src/assets/km-f66aabe2.svg);
}
.fi-km.fis {
  background-image: url(/src/assets/km-e08a7d38.svg);
}
.fi-kn {
  background-image: url(/src/assets/kn-c7744ba0.svg);
}
.fi-kn.fis {
  background-image: url(/src/assets/kn-2056e537.svg);
}
.fi-kp {
  background-image: url(/src/assets/kp-c0815d9c.svg);
}
.fi-kp.fis {
  background-image: url(/src/assets/kp-a5f669ad.svg);
}
.fi-kr {
  background-image: url(/src/assets/kr-28c300b3.svg);
}
.fi-kr.fis {
  background-image: url(/src/assets/kr-1ffe3852.svg);
}
.fi-kw {
  background-image: url(/src/assets/kw-fabd47f0.svg);
}
.fi-kw.fis {
  background-image: url(/src/assets/kw-c014b43b.svg);
}
.fi-ky {
  background-image: url(/src/assets/ky-7ce314ba.svg);
}
.fi-ky.fis {
  background-image: url(/src/assets/ky-081844eb.svg);
}
.fi-kz {
  background-image: url(/src/assets/kz-bb09cc45.svg);
}
.fi-kz.fis {
  background-image: url(/src/assets/kz-d9160b84.svg);
}
.fi-la {
  background-image: url(/src/assets/la-ed8ce307.svg);
}
.fi-la.fis {
  background-image: url(/src/assets/la-cde719dd.svg);
}
.fi-lb {
  background-image: url(/src/assets/lb-3abccf66.svg);
}
.fi-lb.fis {
  background-image: url(/src/assets/lb-97589547.svg);
}
.fi-lc {
  background-image: url(/src/assets/lc-525ad8c3.svg);
}
.fi-lc.fis {
  background-image: url(/src/assets/lc-539914cb.svg);
}
.fi-li {
  background-image: url(/src/assets/li-ab80b8a1.svg);
}
.fi-li.fis {
  background-image: url(/src/assets/li-f5687123.svg);
}
.fi-lk {
  background-image: url(/src/assets/lk-b3f79269.svg);
}
.fi-lk.fis {
  background-image: url(/src/assets/lk-e6bb471e.svg);
}
.fi-lr {
  background-image: url(/src/assets/lr-cbf9ef85.svg);
}
.fi-lr.fis {
  background-image: url(/src/assets/lr-bca2ce8b.svg);
}
.fi-ls {
  background-image: url(/src/assets/ls-9491616e.svg);
}
.fi-ls.fis {
  background-image: url(/src/assets/ls-d59e8226.svg);
}
.fi-lt {
  background-image: url(/src/assets/lt-dc040199.svg);
}
.fi-lt.fis {
  background-image: url(/src/assets/lt-8ef0e9cb.svg);
}
.fi-lu {
  background-image: url(/src/assets/lu-a6c17cd0.svg);
}
.fi-lu.fis {
  background-image: url(/src/assets/lu-965964b5.svg);
}
.fi-lv {
  background-image: url(/src/assets/lv-15d4e812.svg);
}
.fi-lv.fis {
  background-image: url(/src/assets/lv-f4e0567e.svg);
}
.fi-ly {
  background-image: url(/src/assets/ly-b9246781.svg);
}
.fi-ly.fis {
  background-image: url(/src/assets/ly-bbd57e2f.svg);
}
.fi-ma {
  background-image: url(/src/assets/ma-28cfcdec.svg);
}
.fi-ma.fis {
  background-image: url(/src/assets/ma-8f1a0be2.svg);
}
.fi-mc {
  background-image: url(/src/assets/mc-690c23fe.svg);
}
.fi-mc.fis {
  background-image: url(/src/assets/mc-c3aaba7e.svg);
}
.fi-md {
  background-image: url(/src/assets/md-ae4fd022.svg);
}
.fi-md.fis {
  background-image: url(/src/assets/md-e678dd90.svg);
}
.fi-me {
  background-image: url(/src/assets/me-73f05f92.svg);
}
.fi-me.fis {
  background-image: url(/src/assets/me-8d3f7f89.svg);
}
.fi-mf {
  background-image: url(/src/assets/mf-137b371d.svg);
}
.fi-mf.fis {
  background-image: url(/src/assets/mf-65d7d1af.svg);
}
.fi-mg {
  background-image: url(/src/assets/mg-59246c21.svg);
}
.fi-mg.fis {
  background-image: url(/src/assets/mg-f16ffe66.svg);
}
.fi-mh {
  background-image: url(/src/assets/mh-f4d41b34.svg);
}
.fi-mh.fis {
  background-image: url(/src/assets/mh-7bd55f27.svg);
}
.fi-mk {
  background-image: url(/src/assets/mk-22488dc8.svg);
}
.fi-mk.fis {
  background-image: url(/src/assets/mk-8faba052.svg);
}
.fi-ml {
  background-image: url(/src/assets/ml-49e84081.svg);
}
.fi-ml.fis {
  background-image: url(/src/assets/ml-34021383.svg);
}
.fi-mm {
  background-image: url(/src/assets/mm-c0b2e23a.svg);
}
.fi-mm.fis {
  background-image: url(/src/assets/mm-ea2756fc.svg);
}
.fi-mn {
  background-image: url(/src/assets/mn-e1212518.svg);
}
.fi-mn.fis {
  background-image: url(/src/assets/mn-3867f78b.svg);
}
.fi-mo {
  background-image: url(/src/assets/mo-b3150f82.svg);
}
.fi-mo.fis {
  background-image: url(/src/assets/mo-f2828f31.svg);
}
.fi-mp {
  background-image: url(/src/assets/mp-0f686973.svg);
}
.fi-mp.fis {
  background-image: url(/src/assets/mp-59ca53fb.svg);
}
.fi-mq {
  background-image: url(/src/assets/mq-94315e14.svg);
}
.fi-mq.fis {
  background-image: url(/src/assets/mq-e58f7279.svg);
}
.fi-mr {
  background-image: url(/src/assets/mr-b5b86550.svg);
}
.fi-mr.fis {
  background-image: url(/src/assets/mr-4ccf1997.svg);
}
.fi-ms {
  background-image: url(/src/assets/ms-91a65429.svg);
}
.fi-ms.fis {
  background-image: url(/src/assets/ms-a22195f9.svg);
}
.fi-mt {
  background-image: url(/src/assets/mt-847b9371.svg);
}
.fi-mt.fis {
  background-image: url(/src/assets/mt-ae7e5df1.svg);
}
.fi-mu {
  background-image: url(/src/assets/mu-51f86810.svg);
}
.fi-mu.fis {
  background-image: url(/src/assets/mu-3a73b077.svg);
}
.fi-mv {
  background-image: url(/src/assets/mv-5546d527.svg);
}
.fi-mv.fis {
  background-image: url(/src/assets/mv-ecc358a3.svg);
}
.fi-mw {
  background-image: url(/src/assets/mw-2a3cc640.svg);
}
.fi-mw.fis {
  background-image: url(/src/assets/mw-b53cff28.svg);
}
.fi-mx {
  background-image: url(/src/assets/mx-46cef6ab.svg);
}
.fi-mx.fis {
  background-image: url(/src/assets/mx-cda16de8.svg);
}
.fi-my {
  background-image: url(/src/assets/my-fbda82cd.svg);
}
.fi-my.fis {
  background-image: url(/src/assets/my-ab77d984.svg);
}
.fi-mz {
  background-image: url(/src/assets/mz-888f5aa1.svg);
}
.fi-mz.fis {
  background-image: url(/src/assets/mz-69568d10.svg);
}
.fi-na {
  background-image: url(/src/assets/na-c32f1b89.svg);
}
.fi-na.fis {
  background-image: url(/src/assets/na-65796b81.svg);
}
.fi-nc {
  background-image: url(/src/assets/nc-cff3afeb.svg);
}
.fi-nc.fis {
  background-image: url(/src/assets/nc-8b7ef8a4.svg);
}
.fi-ne {
  background-image: url(/src/assets/ne-4b91653d.svg);
}
.fi-ne.fis {
  background-image: url(/src/assets/ne-c92686fc.svg);
}
.fi-nf {
  background-image: url(/src/assets/nf-9cf4bf10.svg);
}
.fi-nf.fis {
  background-image: url(/src/assets/nf-d458b917.svg);
}
.fi-ng {
  background-image: url(/src/assets/ng-b7a2a45a.svg);
}
.fi-ng.fis {
  background-image: url(/src/assets/ng-a41dbb75.svg);
}
.fi-ni {
  background-image: url(/src/assets/ni-74e7ce0d.svg);
}
.fi-ni.fis {
  background-image: url(/src/assets/ni-8028e8a2.svg);
}
.fi-nl {
  background-image: url(/src/assets/nl-54b194d9.svg);
}
.fi-nl.fis {
  background-image: url(/src/assets/nl-a8b56f7d.svg);
}
.fi-no {
  background-image: url(/src/assets/no-ceea17af.svg);
}
.fi-no.fis {
  background-image: url(/src/assets/no-55fc1564.svg);
}
.fi-np {
  background-image: url(/src/assets/np-6244a1aa.svg);
}
.fi-np.fis {
  background-image: url(/src/assets/np-f463b176.svg);
}
.fi-nr {
  background-image: url(/src/assets/nr-f1de4b06.svg);
}
.fi-nr.fis {
  background-image: url(/src/assets/nr-c0fc69e7.svg);
}
.fi-nu {
  background-image: url(/src/assets/nu-835c94f3.svg);
}
.fi-nu.fis {
  background-image: url(/src/assets/nu-93e802ac.svg);
}
.fi-nz {
  background-image: url(/src/assets/nz-794a2c8c.svg);
}
.fi-nz.fis {
  background-image: url(/src/assets/nz-9e6e1d5e.svg);
}
.fi-om {
  background-image: url(/src/assets/om-4de803ba.svg);
}
.fi-om.fis {
  background-image: url(/src/assets/om-51908fdc.svg);
}
.fi-pa {
  background-image: url(/src/assets/pa-6181586e.svg);
}
.fi-pa.fis {
  background-image: url(/src/assets/pa-354bb5c9.svg);
}
.fi-pe {
  background-image: url(/src/assets/pe-e9dd299d.svg);
}
.fi-pe.fis {
  background-image: url(/src/assets/pe-c9852484.svg);
}
.fi-pf {
  background-image: url(/src/assets/pf-d44b1974.svg);
}
.fi-pf.fis {
  background-image: url(/src/assets/pf-947958db.svg);
}
.fi-pg {
  background-image: url(/src/assets/pg-45e15441.svg);
}
.fi-pg.fis {
  background-image: url(/src/assets/pg-34424deb.svg);
}
.fi-ph {
  background-image: url(/src/assets/ph-4cccf403.svg);
}
.fi-ph.fis {
  background-image: url(/src/assets/ph-37c54f47.svg);
}
.fi-pk {
  background-image: url(/src/assets/pk-d4949a03.svg);
}
.fi-pk.fis {
  background-image: url(/src/assets/pk-490b17d5.svg);
}
.fi-pl {
  background-image: url(/src/assets/pl-369bb3e1.svg);
}
.fi-pl.fis {
  background-image: url(/src/assets/pl-698cda1f.svg);
}
.fi-pm {
  background-image: url(/src/assets/pm-10cc79ca.svg);
}
.fi-pm.fis {
  background-image: url(/src/assets/pm-498e2e96.svg);
}
.fi-pn {
  background-image: url(/src/assets/pn-b0b97502.svg);
}
.fi-pn.fis {
  background-image: url(/src/assets/pn-3087f94d.svg);
}
.fi-pr {
  background-image: url(/src/assets/pr-3b26f0a1.svg);
}
.fi-pr.fis {
  background-image: url(/src/assets/pr-4c742be2.svg);
}
.fi-ps {
  background-image: url(/src/assets/ps-e05636e8.svg);
}
.fi-ps.fis {
  background-image: url(/src/assets/ps-1d2d7ac5.svg);
}
.fi-pt {
  background-image: url(/src/assets/pt-8dcc4829.svg);
}
.fi-pt.fis {
  background-image: url(/src/assets/pt-d79b25d4.svg);
}
.fi-pw {
  background-image: url(/src/assets/pw-e2a38cce.svg);
}
.fi-pw.fis {
  background-image: url(/src/assets/pw-77185a59.svg);
}
.fi-py {
  background-image: url(/src/assets/py-0b374b8f.svg);
}
.fi-py.fis {
  background-image: url(/src/assets/py-413b67df.svg);
}
.fi-qa {
  background-image: url(/src/assets/qa-4d41fa3c.svg);
}
.fi-qa.fis {
  background-image: url(/src/assets/qa-a781df63.svg);
}
.fi-re {
  background-image: url(/src/assets/re-7b5a5202.svg);
}
.fi-re.fis {
  background-image: url(/src/assets/re-a5347d1a.svg);
}
.fi-ro {
  background-image: url(/src/assets/ro-17a3a747.svg);
}
.fi-ro.fis {
  background-image: url(/src/assets/ro-b56a867a.svg);
}
.fi-rs {
  background-image: url(/src/assets/rs-c254c0e1.svg);
}
.fi-rs.fis {
  background-image: url(/src/assets/rs-f1579d87.svg);
}
.fi-ru {
  background-image: url(/src/assets/ru-6c62f886.svg);
}
.fi-ru.fis {
  background-image: url(/src/assets/ru-5224e89e.svg);
}
.fi-rw {
  background-image: url(/src/assets/rw-9512100a.svg);
}
.fi-rw.fis {
  background-image: url(/src/assets/rw-ada409bb.svg);
}
.fi-sa {
  background-image: url(/src/assets/sa-b71b7934.svg);
}
.fi-sa.fis {
  background-image: url(/src/assets/sa-3dc0b466.svg);
}
.fi-sb {
  background-image: url(/src/assets/sb-255e4192.svg);
}
.fi-sb.fis {
  background-image: url(/src/assets/sb-477f263a.svg);
}
.fi-sc {
  background-image: url(/src/assets/sc-30cdbe42.svg);
}
.fi-sc.fis {
  background-image: url(/src/assets/sc-4363a818.svg);
}
.fi-sd {
  background-image: url(/src/assets/sd-f4721ceb.svg);
}
.fi-sd.fis {
  background-image: url(/src/assets/sd-4c191d43.svg);
}
.fi-se {
  background-image: url(/src/assets/se-bc8a97e1.svg);
}
.fi-se.fis {
  background-image: url(/src/assets/se-b4cc09f1.svg);
}
.fi-sg {
  background-image: url(/src/assets/sg-25de9044.svg);
}
.fi-sg.fis {
  background-image: url(/src/assets/sg-37b8db58.svg);
}
.fi-sh {
  background-image: url(/src/assets/sh-0b207fd4.svg);
}
.fi-sh.fis {
  background-image: url(/src/assets/sh-46034309.svg);
}
.fi-si {
  background-image: url(/src/assets/si-b7fe90ba.svg);
}
.fi-si.fis {
  background-image: url(/src/assets/si-fee21cbd.svg);
}
.fi-sj {
  background-image: url(/src/assets/sj-b60dad0e.svg);
}
.fi-sj.fis {
  background-image: url(/src/assets/sj-880802e4.svg);
}
.fi-sk {
  background-image: url(/src/assets/sk-01a41b70.svg);
}
.fi-sk.fis {
  background-image: url(/src/assets/sk-40b3a188.svg);
}
.fi-sl {
  background-image: url(/src/assets/sl-d0c384b0.svg);
}
.fi-sl.fis {
  background-image: url(/src/assets/sl-feb8b966.svg);
}
.fi-sm {
  background-image: url(/src/assets/sm-c2055b28.svg);
}
.fi-sm.fis {
  background-image: url(/src/assets/sm-d2f10302.svg);
}
.fi-sn {
  background-image: url(/src/assets/sn-6437db13.svg);
}
.fi-sn.fis {
  background-image: url(/src/assets/sn-2c7a8737.svg);
}
.fi-so {
  background-image: url(/src/assets/so-a3e6f461.svg);
}
.fi-so.fis {
  background-image: url(/src/assets/so-50f29485.svg);
}
.fi-sr {
  background-image: url(/src/assets/sr-5194a6af.svg);
}
.fi-sr.fis {
  background-image: url(/src/assets/sr-81b54581.svg);
}
.fi-ss {
  background-image: url(/src/assets/ss-d09319a4.svg);
}
.fi-ss.fis {
  background-image: url(/src/assets/ss-6aa031ba.svg);
}
.fi-st {
  background-image: url(/src/assets/st-e9ac3984.svg);
}
.fi-st.fis {
  background-image: url(/src/assets/st-cd70af66.svg);
}
.fi-sv {
  background-image: url(/src/assets/sv-d9228d5c.svg);
}
.fi-sv.fis {
  background-image: url(/src/assets/sv-c921e011.svg);
}
.fi-sx {
  background-image: url(/src/assets/sx-e6f91141.svg);
}
.fi-sx.fis {
  background-image: url(/src/assets/sx-b47e2df3.svg);
}
.fi-sy {
  background-image: url(/src/assets/sy-38125aa4.svg);
}
.fi-sy.fis {
  background-image: url(/src/assets/sy-6e3feb72.svg);
}
.fi-sz {
  background-image: url(/src/assets/sz-1565c373.svg);
}
.fi-sz.fis {
  background-image: url(/src/assets/sz-956856c2.svg);
}
.fi-tc {
  background-image: url(/src/assets/tc-2e45c89e.svg);
}
.fi-tc.fis {
  background-image: url(/src/assets/tc-94789b54.svg);
}
.fi-td {
  background-image: url(/src/assets/td-19a278fb.svg);
}
.fi-td.fis {
  background-image: url(/src/assets/td-f5c38f02.svg);
}
.fi-tf {
  background-image: url(/src/assets/tf-297113df.svg);
}
.fi-tf.fis {
  background-image: url(/src/assets/tf-4c8eec85.svg);
}
.fi-tg {
  background-image: url(/src/assets/tg-87150e04.svg);
}
.fi-tg.fis {
  background-image: url(/src/assets/tg-af622c09.svg);
}
.fi-th {
  background-image: url(/src/assets/th-329cc0d5.svg);
}
.fi-th.fis {
  background-image: url(/src/assets/th-bb8a18d6.svg);
}
.fi-tj {
  background-image: url(/src/assets/tj-93a976af.svg);
}
.fi-tj.fis {
  background-image: url(/src/assets/tj-45e33e60.svg);
}
.fi-tk {
  background-image: url(/src/assets/tk-a8540a4a.svg);
}
.fi-tk.fis {
  background-image: url(/src/assets/tk-a12ef3ff.svg);
}
.fi-tl {
  background-image: url(/src/assets/tl-3db6f72a.svg);
}
.fi-tl.fis {
  background-image: url(/src/assets/tl-6d71669d.svg);
}
.fi-tm {
  background-image: url(/src/assets/tm-6af9a1d7.svg);
}
.fi-tm.fis {
  background-image: url(/src/assets/tm-3f4afeb2.svg);
}
.fi-tn {
  background-image: url(/src/assets/tn-0aac4442.svg);
}
.fi-tn.fis {
  background-image: url(/src/assets/tn-e14a8dd4.svg);
}
.fi-to {
  background-image: url(/src/assets/to-b351703f.svg);
}
.fi-to.fis {
  background-image: url(/src/assets/to-8f2f476b.svg);
}
.fi-tr {
  background-image: url(/src/assets/tr-479d84d0.svg);
}
.fi-tr.fis {
  background-image: url(/src/assets/tr-be7d115b.svg);
}
.fi-tt {
  background-image: url(/src/assets/tt-92f1261b.svg);
}
.fi-tt.fis {
  background-image: url(/src/assets/tt-125d18de.svg);
}
.fi-tv {
  background-image: url(/src/assets/tv-d94fa5f1.svg);
}
.fi-tv.fis {
  background-image: url(/src/assets/tv-7415f816.svg);
}
.fi-tw {
  background-image: url(/src/assets/tw-931757f0.svg);
}
.fi-tw.fis {
  background-image: url(/src/assets/tw-c04cf00d.svg);
}
.fi-tz {
  background-image: url(/src/assets/tz-ee08fcf5.svg);
}
.fi-tz.fis {
  background-image: url(/src/assets/tz-0d271a2b.svg);
}
.fi-ua {
  background-image: url(/src/assets/ua-2d869c23.svg);
}
.fi-ua.fis {
  background-image: url(/src/assets/ua-fd9ad29b.svg);
}
.fi-ug {
  background-image: url(/src/assets/ug-8fc334ff.svg);
}
.fi-ug.fis {
  background-image: url(/src/assets/ug-873a2fe3.svg);
}
.fi-um {
  background-image: url(/src/assets/um-fe8b4e6c.svg);
}
.fi-um.fis {
  background-image: url(/src/assets/um-f18c77e2.svg);
}
.fi-us {
  background-image: url(/src/assets/us-ef4d2e6e.svg);
}
.fi-us.fis {
  background-image: url(/src/assets/us-d49605ae.svg);
}
.fi-uy {
  background-image: url(/src/assets/uy-47656c0b.svg);
}
.fi-uy.fis {
  background-image: url(/src/assets/uy-560c003d.svg);
}
.fi-uz {
  background-image: url(/src/assets/uz-62ce6f10.svg);
}
.fi-uz.fis {
  background-image: url(/src/assets/uz-8f09f1fe.svg);
}
.fi-va {
  background-image: url(/src/assets/va-89a0740b.svg);
}
.fi-va.fis {
  background-image: url(/src/assets/va-6c856cb2.svg);
}
.fi-vc {
  background-image: url(/src/assets/vc-6357f389.svg);
}
.fi-vc.fis {
  background-image: url(/src/assets/vc-2ef7fd06.svg);
}
.fi-ve {
  background-image: url(/src/assets/ve-5712f1c6.svg);
}
.fi-ve.fis {
  background-image: url(/src/assets/ve-9052562f.svg);
}
.fi-vg {
  background-image: url(/src/assets/vg-f9eabcef.svg);
}
.fi-vg.fis {
  background-image: url(/src/assets/vg-73832b5d.svg);
}
.fi-vi {
  background-image: url(/src/assets/vi-77a2e9d5.svg);
}
.fi-vi.fis {
  background-image: url(/src/assets/vi-a618e688.svg);
}
.fi-vn {
  background-image: url(/src/assets/vn-23550372.svg);
}
.fi-vn.fis {
  background-image: url(/src/assets/vn-4fa1366c.svg);
}
.fi-vu {
  background-image: url(/src/assets/vu-8fc05c32.svg);
}
.fi-vu.fis {
  background-image: url(/src/assets/vu-b3048d60.svg);
}
.fi-wf {
  background-image: url(/src/assets/wf-ad34db05.svg);
}
.fi-wf.fis {
  background-image: url(/src/assets/wf-da8ca66e.svg);
}
.fi-ws {
  background-image: url(/src/assets/ws-6b1a7ebc.svg);
}
.fi-ws.fis {
  background-image: url(/src/assets/ws-48d15d76.svg);
}
.fi-ye {
  background-image: url(/src/assets/ye-dc5607f4.svg);
}
.fi-ye.fis {
  background-image: url(/src/assets/ye-15c1b50c.svg);
}
.fi-yt {
  background-image: url(/src/assets/yt-f6ed4975.svg);
}
.fi-yt.fis {
  background-image: url(/src/assets/yt-5a57b00a.svg);
}
.fi-za {
  background-image: url(/src/assets/za-384d6ef6.svg);
}
.fi-za.fis {
  background-image: url(/src/assets/za-00b65e3b.svg);
}
.fi-zm {
  background-image: url(/src/assets/zm-3336b5d3.svg);
}
.fi-zm.fis {
  background-image: url(/src/assets/zm-57492d45.svg);
}
.fi-zw {
  background-image: url(/src/assets/zw-065490a5.svg);
}
.fi-zw.fis {
  background-image: url(/src/assets/zw-666c4541.svg);
}
.fi-arab {
  background-image: url(/src/assets/arab-ffc0ee52.svg);
}
.fi-arab.fis {
  background-image: url(/src/assets/arab-c98d9d99.svg);
}
.fi-cefta {
  background-image: url(/src/assets/cefta-bfefb0f6.svg);
}
.fi-cefta.fis {
  background-image: url(/src/assets/cefta-0c277cae.svg);
}
.fi-cp {
  background-image: url(/src/assets/cp-bd880fc5.svg);
}
.fi-cp.fis {
  background-image: url(/src/assets/cp-7dfc8de4.svg);
}
.fi-dg {
  background-image: url(/src/assets/dg-dc437057.svg);
}
.fi-dg.fis {
  background-image: url(/src/assets/dg-58d4805f.svg);
}
.fi-eac {
  background-image: url(/src/assets/eac-b35bb4ff.svg);
}
.fi-eac.fis {
  background-image: url(/src/assets/eac-c4ef426e.svg);
}
.fi-es-ct {
  background-image: url(/src/assets/es-ct-11229703.svg);
}
.fi-es-ct.fis {
  background-image: url(/src/assets/es-ct-95f4033c.svg);
}
.fi-es-ga {
  background-image: url(/src/assets/es-ga-8a921639.svg);
}
.fi-es-ga.fis {
  background-image: url(/src/assets/es-ga-477a1812.svg);
}
.fi-es-pv {
  background-image: url(/src/assets/es-pv-70a6e0fb.svg);
}
.fi-es-pv.fis {
  background-image: url(/src/assets/es-pv-f608b2f3.svg);
}
.fi-eu {
  background-image: url(/src/assets/eu-67040ccd.svg);
}
.fi-eu.fis {
  background-image: url(/src/assets/eu-019d50bf.svg);
}
.fi-gb-eng {
  background-image: url(/src/assets/gb-eng-53797ba9.svg);
}
.fi-gb-eng.fis {
  background-image: url(/src/assets/gb-eng-2dd36838.svg);
}
.fi-gb-nir {
  background-image: url(/src/assets/gb-nir-1e5cfe93.svg);
}
.fi-gb-nir.fis {
  background-image: url(/src/assets/gb-nir-d91beb89.svg);
}
.fi-gb-sct {
  background-image: url(/src/assets/gb-sct-7b55bce7.svg);
}
.fi-gb-sct.fis {
  background-image: url(/src/assets/gb-sct-19ed371e.svg);
}
.fi-gb-wls {
  background-image: url(/src/assets/gb-wls-3a95845d.svg);
}
.fi-gb-wls.fis {
  background-image: url(/src/assets/gb-wls-d3c5b996.svg);
}
.fi-ic {
  background-image: url(/src/assets/ic-9a584e04.svg);
}
.fi-ic.fis {
  background-image: url(/src/assets/ic-4e5a5e63.svg);
}
.fi-pc {
  background-image: url(/src/assets/pc-540c3f0b.svg);
}
.fi-pc.fis {
  background-image: url(/src/assets/pc-502e1da5.svg);
}
.fi-sh-ac {
  background-image: url(/src/assets/sh-ac-b6ad57b0.svg);
}
.fi-sh-ac.fis {
  background-image: url(/src/assets/sh-ac-b08e4e0a.svg);
}
.fi-sh-hl {
  background-image: url(/src/assets/sh-hl-6555ab98.svg);
}
.fi-sh-hl.fis {
  background-image: url(/src/assets/sh-hl-37e199e9.svg);
}
.fi-sh-ta {
  background-image: url(/src/assets/sh-ta-799b3dee.svg);
}
.fi-sh-ta.fis {
  background-image: url(/src/assets/sh-ta-6b600555.svg);
}
.fi-un {
  background-image: url(/src/assets/un-1b4df7a8.svg);
}
.fi-un.fis {
  background-image: url(/src/assets/un-45d364fc.svg);
}
.fi-xk {
  background-image: url(/src/assets/xk-95fe9a76.svg);
}
.fi-xk.fis {
  background-image: url(/src/assets/xk-1571e3bb.svg);
}
